DATABASE_URL="file:./dev.db"
AUTH_SECRET="gere-um-segredo-com-32+-caracteres"
AUTH_GOOGLE_ID="seu-google-client-id"
AUTH_GOOGLE_SECRET="seu-google-client-secret"
AUTHORIZED_ORGANIZER_EMAILS="organizadora1@email.com,organizadora2@email.com"
